@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLOR */
  --color-light: #ffffff;
  --color-dark: #151515;
  --color-accent: #d5966c;

  /* FONTSIZE */
  /* --header-size-big: clamp(3.75rem, 2.9577rem + 3.3803vw, 6rem);
  --header-size-medium: clamp(2.5rem, 1.625rem + 2vw, 3.5rem);
  --header-size-small: clamp(1.2rem, 0.5455rem + 2.6182vw, 3rem);

  --p-size-big: clamp(1.125rem, 1.0370rem + 0.3756vw, 1.375rem);;
  --p-size-small: clamp(1rem, 0.9560rem + 0.1878vw, 1.125rem); */

  --header-size-big: 4rem;
  --header-size-small: 2.5rem;

  --p-size-big: 1, 25rem;
  --p-size-small: 1, 125rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-big-shoulders), sans-serif;
  font-size: var(--header-size-small);
  font-weight: bold;
}

p {
  font-family: var(--font-outfit), sans-serif;
  font-size: var(--p-size-small);
}

@media screen and (min-width: 768px) {
  p {
    font-size: var(--p-size-big);
  }

  h1,
  h2 {
    font-size: var(--header-size-big);
  }
}
