@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLOR */
  --color-light: #ffffff;
  --color-dark: #151515;
  --color-accent: #d5966c;

  /* FONTSIZE */
  --header-size-xl: 6rem;
  --header-size-l: 4.4rem;
  --header-size-m: 3.75rem;
  --header-size-s: 2.25rem;

  --p-size-m: 1.4rem;
  --p-size-s: 1.125rem;

  /* LINE HEIGHT */
  --line-height-xl: 5.5rem;
  --line-height-l: 4.4rem;
  --line-height-m: 3.125rem;
  --line-height-s: 2.25rem;
  --line-height-xs: 1.75rem;
}

h1 {
  font-family: var(--font-big-shoulders), sans-serif;
  font-size: var(--header-size-m);
  font-weight: 800;
  line-height: var(--line-height-m);
}

h2 {
  font-family: var(--font-big-shoulders), sans-serif;
  font-size: var(--header-size-m);
  font-weight: 800;
  line-height: var(--line-height-m);
}

h3 {
  font-family: var(--font-big-shoulders), sans-serif;
  font-size: var(--header-size-s);
  font-weight: 800;
  line-height: var(--line-height-s);
}

p {
  font-family: var(--font-outfit), sans-serif;
  font-size: var(--p-size-s);
  font-weight: 200;
  line-height: var(--line-height-xs);
}

@media screen and (min-width: 768px) {
  p {
    font-size: var(--p-size-m);
    line-height: var(--line-height-s);
  }

  h1 {
    font-size: var(--header-size-l);
    line-height: var(--line-height-l);
  }

  h2 {
    font-size: var(--header-size-m);
    line-height: var(--line-height-m);
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: var(--header-size-l);
    line-height: var(--line-height-l);
  }

  h2 {
    font-size: var(--header-size-l);
    line-height: var(--line-height-l);
  }
}

@media screen and (min-width: 1439px) {
  h1 {
    font-size: var(--header-size-xl);
    line-height: var(--line-height-xl);
  }

  h2 {
    font-size: var(--header-size-l);
    line-height: var(--line-height-xl);
  }
}
